/* Add google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

/* public */
body {
    font-family: 'Roboto', sans-serif;
}

/* colors var */
:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --pink-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}

.main-btn {
    background-color: var(--pink-color);
    color: var(--yellow-color);
    padding: 0.5rem 1rem;
}

.main-btn:hover {
    color: var(--yellow-color);
}

.main-title::after {
    content: '';
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

/* end public */


/* start navbar style */
.navbar {
    background-color: var(--dark-color);
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: var(--green-color);
}

.navbar .search {
    border-left: 1px solid var(--green-color);
    color: var(--green-color);
}

.navbar .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded='true'] {
    border-color: var(--green-color);
}

/* end navbar style */

/* start header section style */
.landing {
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}

/* end header section style */

/* start features section style */
.features .iconHolder {
    height: 200px;
}

.features .iconHolder svg {
    left: 50%;
    transform: translateX(-50%);
}

.features .iconHolder .number {
    font-size: 12rem;
    color: var(--section-color);
}

.features .iconHolder .icon {
    color: var(--green-color);
}

.features .featContainer h4 {
    color: var(--yellow-color);
}

/* end features section style */

/* start our work section */
.ourWork{
    background-color: var(--section-color);
}

.ourWork ul .active{
    background-color: var(--pink-color);
    color: var(--yellow-color);
}

.ourWork ul li{
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.ourWork ul li:not(.active):hover{
color: var(--pink-color);
}

.box{
    padding: 5px;
    overflow: hidden;
}

.ourWork .box::before{
    content: attr(data-work);
    position: absolute;
    background-color: #33d1ccc2;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px));
}

.ourWork .box:hover:before{
    transform: translateX(0);
}

/* end our work section */

/* start stuff section */
.desc{
    max-width: 500px;
}
/* end stuff section */